<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <entityFramework xdt:Transform="Replace">
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <contexts>
      <context type="App.DAL.DataContext, App.DAL">
        <databaseInitializer type="System.Data.Entity.MigrateDatabaseToLatestVersion`2[[App.DAL.DataContext, App.DAL], [App.DAL.Migrations.Configuration, App.DAL]], EntityFramework, PublicKeyToken=b77a5c561934e089">
          <parameters>
            <parameter value="DataContext" />
          </parameters>
        </databaseInitializer>
      </context>
    </contexts>
  </entityFramework>
  
</configuration>
